body {
    font-family: 'Lato', sans-serif;
    color: #5d614e;
    font-weight: 400;
}

.img-responsive {
    margin: 0 auto;
}

.text-mutted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 300;
}

.title-supper {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}